{% extends "base-leftside.html" %}

{% block content %}
    
  <script src="../static/js/chart.js"></script>

    <!-- Navbar
    ================================================== -->
    
    <section id="right-section" class="grid_8">

      <a id="main-responsive-nav" class=""></a>

      <nav id="main-nav" class="">
        <ul class="">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/work">WORK</a></li>
          <li><a href="/blog">BLOG</a></li>          
          <li><a href="/reads">READS</a></li>       
        </ul>
      </nav>

      <section id="hero-text" class="">
        <header>
          <h1>Create Amazing!</h1>
          <h3>"I enjoy creating beautiful experiences, combining <a href="http://firerishi.deviantart.com/gallery" target="_blank">art</a> and technology. I do <a href="http://www.linkedin.com/in/thirumalaasrinivas" target="_blank">UI Engineering/Front-End Development and 
            UX Product Management</a>. I am a doer/builder with a BIG ambition and LARGE <a href="/reads">appetite</a> for the do-testout-learn-do cycle." </h3>     
        </header>          
      </section>
    
      <nav id="about-nav" class="">
        <ul class="">
          <li><a href="#dashboard">DASHBOARD</a></li>        
          <li><a href="#experience">EXPERIENCE</a></li>
          <li><a href="#education">EDUCATION</a></li>
          <li><a href="#genesis">GENESIS</a></li>        
        </ul>
      </nav>

      
      <a id="backtop" style="bottom: 2%;" href="#">
        <img src="static/img/arrow-top-icon.png"/>   
      </a>
      
      <section id="dashboard"> 
        <header>
          <h3>DASHBOARD</h3>
        </header>
        <div class="dash-main">
          <div id="everyday-chart" class="dash-main-dial"></div>
        </div>
        <div class="dash-breakdown">
          <div id="ideate-with" class="dash-breakdown-dials"></div>
          <div id="design-with" class="dash-breakdown-dials"></div>
          <div id="develop-with" class="dash-breakdown-dials"></div>
        </div>
      </section>

      <section id="experience">
         <header>
          <h3>EXPERIENCE</h3>
        </header>
        <ul>
          <li >            
            <h3 style="color: black;">User Experience UI Engineer</h3>
            <h2>Dell, Inc</h2>
          </li> 
          <li>            
            <h3 style="color: #555;">Software Development Engineer</h3>
            <h2>Dell, Inc</h2>
          </li>  
          <li>            
            <h3 style="color: #777;">Product Test Engineer</h3>
            <h2>Dell, Inc</h2>
          </li>         
          <li>            
            <h3 style="color: #999;">Software QA Intern</h3>
            <h2>Viewlocity, Inc</h2>
          </li>         
        </ul>
      </section>

      <section id="education">
         <header>
          <h3>EDUCATION</h3>
        </header>
        <ul>
          <li>
            <h2>Master of Science, Computer Science</h2>
            <h3>- The University of Texas at Dallas</h3>
          </li>
          <li>
            <h2>Bachelor of Engineering, Computer Science</h2>
            <h3>- The University of Madras</h3>
          </li>
        </ul>
      </section>

      <section id="genesis">
         <header>
          <h3>GENESIS</h3>
        </header>
        <ul>         
          <li>
            <h2>Chennai, Tamil Nadu, India</h2>     
            <img src="static/img/arrow-right-icon.png"/>      
            <h2>Dallas, TX, USA</h2>
            <img src="static/img/arrow-right-icon.png"/> 
            <h2>Austin, TX, USA</h2>  
          </li>
         <!--  <li>
            I lived the <h3>first 2 decades</h3> of my life in<h2>Chennai, Tamil Nadu, India</h2>            
          </li>
          <li>
            I received my <h3>Masters</h3> from the University in <h2>Dallas, TX, USA</h2>
          </li>
          <li>
            I've been living since then in <h2>Austin, TX, USA</h2> spending <h3>over a decade</h3> in <h2>Texas</h2>
          </li>        -->   
        </ul>
      </section>

    </section>
    <!-- End of Navbar
    ================================================== -->

{% endblock %}
