<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width" />
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/app.css"  type="text/css">	    

    <script src="http://code.jquery.com/jquery-latest.js"></script>
     
     <script src="../static/js/jquery.masonry.min.js"></script>
     <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/app.js"></script>
    
    
    <title>Srini.</title>
  </head>

  <body>
    
    
    <!-- Masthead
    ================================================== -->
    
    <section class="grid_4 leftsection">

      <header id="mast-head">
        <a href="/">
          <div id="image"></div>
          <hgroup>
            <h1>Srini.</h1>
            <h2>Thirumalaa "Srini"vas</h2>
            <h3>Engineer/ Developer/ Designer/ UX / Artist / Husband</h3>            
            <h4 id="location">Austin, TX</h4>
          </hgroup>        
        </a>      
      </header>      
           
      <ul id="social-nav">
          <li><a href="http://www.facebook.com/thirumalaa.srinivas" style="color: #3B5998">facebook</a></li>
          <li><a href="http://www.linkedin.com/in/thirumalaasrinivas" style="color: #51A1CB">linkedin</a></li>
          <li><a href="http://twitter.com/liberated" style="color: #56A6E0">twitter</a></li>
          <li><a href="http://firerishi.tumblr.com" style="color: #385773">tumblr</a></li>
      </ul>

      <ul id="social-responsive-nav">
          <li><a href="http://www.facebook.com/thirumalaa.srinivas" style="color: #3B5998;"><!-- <img src="static/img/facebook-icon-16.png"/> -->f</a></li>
          <li><a href="http://www.linkedin.com/in/thirumalaasrinivas" style="color: #51A1CB"><!-- <img src="static/img/linkedin-icon-16.png"/> -->in</a></li>
          <li><a href="http://twitter.com/liberated" style="color: #56A6E0"><!-- <img src="static/img/twitter-icon-16.png"/> -->tw</a></li>
          <li><a href="http://firerishi.tumblr.com" style="color: #385773"><!-- <img src="static/img/tumblr-icon-16.png"/> -->tu</a></li>
      </ul>

      <div id="social-ratings">    
        <g:plusone/>
      </div>      

      <a id="emailme" href="mailto:srinivassekar@gmail.com?Subject=Hello%20Srini">Let's talk</a>

      <!-- <p id="site-powered">        
        powered by <em><span>django + sublimetext2 + appfog</span></em>  
      </p>  -->

      
      
    </section>


    
    <!-- Navbar
    ================================================== -->
    {% block content %}{% endblock %}
    
    <!-- End of Navbar
    ================================================== -->



    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37520168-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


    <!-- Google +1 tag -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </body>

</html>
