{% extends "base-leftside.html" %}

{% block content %}
    
    

    <!-- Navbar
    ================================================== -->
    
    <section id="right-section" class="grid_8">

      <a id="main-responsive-nav" class=""></a>

      <nav id="main-nav" class="">
        <ul class="">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/blog">BLOG</a></li>
          <!-- <li><a href="/work">WORK</a></li> -->
          <li><a href="/reads">READS</a></li>        
          <!-- <li><a href="/art">ART</a></li>       -->    
        </ul>
      </nav>

      <section id="hero-text" class="">
        <header>
          <h1>Books I've read.</h1>
        </header>
        <p>Hope you find some of interest.</p>     
      </section>

      <a id="backtop" style="bottom: 2%;" href="#">
        <img src="static/img/arrow-top-icon.png"/> 
      </a>

      <div id="container">
        <div class="item">
          <a href="#">
            <img src="static/img/linchpin-book.jpg"/>
            <!-- <h3>Linchpin</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/_DZ_AMDl5yUC?fife=w222"/>
            <!-- <h3>Personal MBA</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/U77um_h_dgcC?fife=w222"/>
            <!-- <h3>Rework</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/sa9pSQbXYtYC?fife=w222"/>
            <!-- <h3>Tribes</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/O0130ePgzAcC?fife=w222"/>
            <!-- <h3>A Whole New Mind</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/yeIGdYQQNQsC?fife=w222"/>
            <!-- <h3>The 4-hour body</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/dxumVrUrpYcC?fife=w222"/>
            <!-- <h3>The 4-hour Workweek</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/PXa2bby0oQ0C?fife=w222"/>
            <!-- <h3>Javascript - the good parts</h3> -->
          </a>
        </div>
        <div class="item">    
          <a href="#">      
            <img src="https://encrypted.google.com/books/images/frontcover/g2UtZx1nMbQC?fife=w222"/>
            <!-- <h3>Practical Django Projects</h3> -->
          </a>
        </div>
        <div class="item">    
          <a href="#">      
            <img src="https://encrypted.google.com/books/images/frontcover/Bjn_l42e69sC?fife=w222"/>
            <!-- <h3>UI Design with Adobe Illustrator</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/YtE6JJ78XLcC?fife=w222"/>
            <!-- <h3>I will teach you to be rich</h3> -->
          </a>
        </div>        
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/L3zqYyo-Fb8C?fife=w222"/>
            <!-- <h3>Ignore Everybody: and 39 Other Keys to Creativity</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/9Q3OQVyX_-QC?fife=w222"/>
            <!-- <h3>Rocket Surgery Made Easy</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/XYBhUjyi-WYC?fife=w222"/>
            <!-- <h3>Start Small, Stay Small</h3> -->
          </a>
        </div>   
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/imUrarBEahgC?fife=w222"/>
            <!-- <h3>You, Inc.</h3> -->
          </a>
        </div>  
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/3NSImqqnxnkC?fife=w222"/>
            <!-- <h3>Outliers</h3> -->
          </a>
        </div> 
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/yBDBEGBIUmgC?fife=w222"/>
            <!-- <h3>The Tipping Point</h3> -->
          </a>
        </div> 
        <!-- Fiction -->
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/RmkhNOzuV5YC?fife=w222"/>
            <!-- <h3>Life of Pi</h3> -->
          </a>
        </div>         
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/nwICBETtEqYC?fife=w222"/>
            <!-- <h3>The God of Small Things</h3> -->
          </a>
        </div>    
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/RWG13F93aKsC?fife=w222"/>
            <!-- <h3>The Monk who sold his Ferrari</h3> -->
          </a>
        </div> 
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/CFfBpdrgyc0C?fife=w222"/>
            <!-- <h3>The Palace of Illusions</h3> -->
          </a>
        </div>    
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/TxIpqmngRlgC?fife=w222"/>
            <!-- <h3>Serious Men</h3> -->
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="https://encrypted.google.com/books/images/frontcover/Jbg9osBClYsC?fife=w222"/>
            <!-- <h3>Deadweather and Sunrise</h3> -->
          </a>
        </div>      

      </div>
    
    
      

    </section>
    <!-- End of Navbar
    ================================================== -->

  <script type="text/javascript">
    var $container = $('#container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.item',
        columnWidth : 240
      });
    });

    $('.item a').click(function() {
      console.log($(this));   
      console.log($(this).children('h3').text());         
      $(this).children('h3').slideDown();
    });

    $('#main-responsive-nav').click(function() {
      $('#main-nav').slideToggle();      
    });

    // Show (always) the main nav menu when the window width is >= 1000px
    $(window).resize(function() {
      var winWidth = $(window).width();
      if (winWidth >= 1000) {
        $('#main-nav').show();
      }
      else {
       $('#main-nav').hide(); 
      }
    });
  </script>

{% endblock %}
