{% extends "base-leftside.html" %}

{% block content %}
    
  <script src="../static/js/chart.js"></script>

    <!-- Navbar
    ================================================== -->
    
    <section id="right-section" class="grid_8">

      <a id="main-responsive-nav" class=""></a>

      <nav id="main-nav" class="">
        <ul class="">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/work">WORK</a></li>
          <li><a href="/blog">BLOG</a></li>          
          <li><a href="/reads">READS</a></li>                      
        </ul>
      </nav>

      <section id="hero-text" class="">
        <header>
          <h1>My Labs.</h1>          
        </header>          
        <p>A portfolio of different projects that I have worked and am working on.</p>             
        <a href="https://github.com/firerishi">
          <h2 style="color: #9898B3">"github: firerishi"</h2>
        </a>       
      </section>
    
      <ul id="work-list">
        <li>
          <header>
            <h1><a href="http://www.thirumalaasrinivas.com">Srini.</a></h1>
          </header>
          <p>My personal landing page, capturing the whole.</p>          
        </li>
        <li>
          <header>
            <h1><a href="http://blnkpg.com" target="_blank">blnkpg</a></h1>
          </header>
          <p>A focused writing/ quick publish/ share application, for the different flavors of content creators.</p>
        </li>
        <li>
          <header>
            <h1><a href="http://www.hlthapp.com" target="_blank">hlthapp</a></h1>
          </header>
          <p>Health tracking application for capturing personal numbers, medication, questions for health care providers.</p>
        </li>
      </ul>
      

      <a id="backtop" style="bottom: 2%;" href="#">
        <img src="static/img/arrow-top-icon.png"/>   
      </a>
      

    </section>
    <!-- End of Navbar
    ================================================== -->

{% endblock %}
